.tabs {
  display: flex;
  padding: 1.6rem 2.4rem 0 2.4rem;
  gap: 1rem;
  border-radius: 1.2rem;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
}

.tab,
.active_tab {
  color: #656565;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  padding: 0 1.2rem;
  border-bottom: 2px solid transparent;
}
.active_tab {
  color: #c28e5c;
  border-bottom: 2px solid #c28e5c;
}
