.container,
.sections {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid #dfdfdf;
  background: #fff;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    gap: 2rem;
  }

  .sections {
    gap: 2rem;
  }

  .section {
    padding: 1.6rem;
    gap: 1.6rem;
    border-radius: 0;
  }

  .inputs {
    gap: 1.6rem;
  }

  .row {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
    background-color: #fff;
  }

  .section {
    padding: 1.2rem;
    gap: 1.2rem;
  }

  .inputs {
    gap: 1.2rem;
  }

  .row {
    gap: 1.2rem;
  }
}
