.input_group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.label {
  color: #2c2c2c;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.014px;
}
.input_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.input,
.input_error {
  display: flex;
  height: 4.8rem;
  padding: 1.2rem 4.8rem 1.2rem 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  border: 1.5px solid #dfdfdf;
  background: #fff;
  /* width: 100%; */
  flex-grow: 1;
  color: #767676;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.08px;
}
.input_error {
  border: 1.5px solid #c0392b;
  background: #fdf5f5; /* Light red background for error state */
}

/* .input::placeholder {
  text-align: right;
} */
.error {
  color: #c0392b;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.014px;
  margin-top: 0.4rem;
}
.code {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid #dfdfdf;
  background: #fff;
}
.code_text {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

@media (max-width: 1024px) {
  .input {
    min-width: 100px;
  }
}
