.card {
  display: flex;
  padding: var(--Padding-space-24, 24px) var(--Padding-space-16, 16px);
  justify-content: space-between;
  align-items: center;
  gap: var(--Padding-space-16, 16px);
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--Content-Border-Border-Gray200, #f2f2f2);
  background: var(--Content-bg-Card-bg-1, #fff);
  /* shadow-sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.swiperCard {
  display: flex;
  padding: var(--Padding-space-24, 24px) var(--Padding-space-16, 16px);
  justify-content: space-between;
  align-items: center;
  gap: var(--Padding-space-16, 16px);
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--Content-Border-Border-Gray200, #f2f2f2);
  background: var(--Content-bg-Card-bg-1, #fff);
  /* shadow-sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
