.button {
  display: flex;
  /* height: 32px; */
  padding: 1.2rem 3rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button.primary {
  border-radius: 4px;
  background: #c28e5c;
  color: #fff;
  text-align: center;
}

.button.primary:hover:not(:disabled) {
  background: #b17a4a;
}

.button.secondary {
  border: 1px solid #d6b392;
  background: #fff;

  color: #6b4e33;
  text-align: center;
}

.button.secondary:hover:not(:disabled) {
  background: #f9e6c7;
}

.button img {
  width: 16px;
  height: 16px;
}
.button.gray {
  display: flex;
  padding: 8px 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #f7f7f7;
  color: #656565;
  text-align: right;
  /* Button/Small */

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}
