.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 2.4rem;
  width: 39.6rem;
}
.steps {
  display: flex;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: -7px;
  align-self: stretch;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
}
.step_line {
  width: 100%;
  height: 1.9rem;
  background: #e2dbd6;
  width: 1px;
  margin-right: 12px;
}
.step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  width: 100%;
}
.step_number,
.active_step_number {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0.056rem;
  background: #e2dbd6;
  color: var(--color-title);
}
.active_step_number {
  background: #e3cbb4;
  color: #c28e5c;
}
.step_text {
  display: flex;
  flex-direction: column;
}
.step_title {
  color: var(--color-title);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.06rem;
}
.step_description,
.active_step_description {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.014rem;
  color: var(--color-description);
}
.active_step_description {
  color: #c28e5c;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prev_button,
.next_button {
  color: var(--color-primary);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0.056rem;
  display: flex;
  width: 17.4rem;
  height: 4.8rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-radius: 1.2rem;
}
.next_button {
  background: #f5ece4;
}

.mobile_container {
  background-color: #fff;
  max-width: 410px;
  margin: 0 auto 4.4rem;
  border-radius: 8px;
  padding: 1.6rem;
  width: 100%;
}
.mobile_content {
  background-color: var(--color-primary-bg);
  padding: 1.6rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-radius: 12px;
  color: #c28e5c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.mobile_step_number_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 2px solid #c28e5c;
  font-weight: 500;
}
.mobile_step_desc_container {
}
