.card {
  display: flex;
  width: 479px;
  padding: var(--Padding-space-16, 16px) 6px var(--Padding-space-16, 16px) 1px;
  flex-direction: column;
  align-items: center;
  gap: var(--Padding-space-12, 12px);
  border-radius: var(--Corner-raduis-Defualt, 12px);
  border-top: 1px solid var(--Content-Border-Border-brand, #c28e5c);
  border-right: 6px solid var(--Content-Border-Border-brand, #c28e5c);
  border-bottom: 1px solid var(--Content-Border-Border-brand, #c28e5c);
  border-left: 1px solid var(--Content-Border-Border-brand, #c28e5c);
  background: var(--Content-bg-Card-bg-1, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.content {
  display: flex;
  padding: 0px var(--Padding-space-16, 16px);
  align-items: flex-start;
  gap: var(--Padding-space-16, 16px);
  align-self: stretch;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--Padding-space-8, 8px);
  flex: 1 0 0;
}
.headerContent {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.status {
  display: flex;
  padding: var(--Padding-space-12, 12px) 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.title {
  color: var(--Content-Text-Text-title-black, #2c2c2c);

  /* Title/Large - sm */
  font-family: Cairo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 16px;
  align-self: stretch;
}
.detailSection {
  display: flex;
  align-items: center;
  gap: var(--Padding-space-8, 8px);
  color: var(--Content-Text-Text-body-discription, #656565);
  /* Label/Large - m */
  font-family: Cairo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}
.statsContainer {
  padding: 0px var(--Padding-space-16, 16px);
  width: 100%;
}
.stats {
  display: flex;
  padding: var(--Padding-space-12, 12px) 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Content-bg-Card-bg-3, #f7f7f7);
}
.replying {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  color: var(--Content-Text-Text-body-discription, #656565);
  /* Caption/Medium - m */
  font-family: Cairo;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}
.replyingAnalysis {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.replyingAnalysisSection {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.replyingAnalysisSectionColor {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  /* background: var(--Natural-350, #a0a0a0); */
}
.replyingAnalysisSectionText,
.replyingAnalysisSectionValue {
  color: var(--Content-Text-Text-body-paragraph, #2c2c2c);
  /* Caption/Medium-r */
  font-family: Cairo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.actions {
  display: flex;
  align-items: center;
  gap: var(--Padding-space-20, 20px);
}
