.card {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2.6rem;
}
.title {
  color: var(--Content-Text-Text-title-black, #2c2c2c);
  margin-bottom: 0.8rem;
  /* Heading/Small - sm */
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  align-self: stretch;
}
.description {
  color: var(--Content-Text-Text-body-discription, #656565);
  align-self: stretch;
  margin-bottom: 3.9rem;
  /* Label/Large - r */
  font-family: Cairo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}
.tabsRow {
  display: flex;
  padding: 0 0 8px 0;
  gap: var(--Padding-space-20, 20px);
  margin-bottom: 0.8rem;
  border-bottom: 1px solid var(--Content-Border-Border-Gray250, #dfdfdf);
}
.tab,
.tabActive {
  border: none;
  /* background: none;
  font-family: Cairo;
  font-size: 18px;
  padding: 0 0 8px 0; */
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s;
}
.tab {
  color: var(--Content-Text-Text-body-discription, #656565);
  /* Body/Small - r */
  font-family: Cairo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.056px;
}
.tabActive {
  color: var(--Content-Text-Text-title-brand, #c28e5c);
  /* Body/Medium - sm */
  position: relative;
  font-family: Cairo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}
.tabActive::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--Content-Border-Border-brand, #c28e5c);
  position: absolute;
  bottom: -9px;
  left: 0;
}
.templatesContent {
  display: flex;
  gap: 1.2rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s, transform 0.4s;
}
.templatesContentHidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
