.card {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2.6rem;
}
.title {
  color: #2c2c2c;
  margin-bottom: 0.8rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  align-self: stretch;
}
.description {
  color: #656565;
  align-self: stretch;
  margin-bottom: 3.9rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}
.tabsRow {
  display: flex;
  padding: 0 0 8px 0;
  gap: 20px;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #dfdfdf;
}
.tab,
.tabActive {
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s;
}
.tab {
  color: #656565;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.056px;
}
.tabActive {
  color: #c28e5c;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.035px;
}
.tabActive::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
    background: #c28e5c;
  position: absolute;
  bottom: -9px;
  left: 0;
}
.templatesContent {
  display: flex;
  gap: 1.2rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s, transform 0.4s;
}
.templatesContentHidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
