.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_header {
  padding: 2.4rem 4rem;
}
.form,
.email_sent_message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 3.2rem;
  margin: 6.8rem 9rem 0 8.9rem;
}
.form > *,
.email_sent_message > * {
  width: 100%;
}
.email_sent_message {
  gap: 2.4rem;
}
.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.title {
  color: #2c2c2c;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
}
.description {
  color: #656565;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.08px;
}
.resend_link {
  display: flex;
  padding: 1.2rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  color: #6b4e33;
  border-radius: 1.2rem;
  background: #f9f4ef;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.08px;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.resend_link:hover {
  opacity: 0.8;
}

.resend_link:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
