.serviceSelectionCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: right;      
  direction: rtl;       
  padding: 40px 12px;
  cursor: pointer;
  height: 100%;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  background-color: white;
  border-radius: 20px;
}

.serviceSelectionCard.selected {
  box-shadow: 0 0 0 2px #b0917a;
  border: 1px solid #c28e5c;
   background: var(--color-primary-bg) !important;
}

.cardTitle {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin-top:30px;
  
  margin-bottom: 5px;
  text-align: right !important;
}

.priceContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  width: 100%;
  justify-content: flex-start; 
}

.mainPrice {
  color: #222;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin: 0 6px;
  direction: rtl;

}

.currencyAndPeriod {
  color: #555;
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  white-space: nowrap;
  text-decoration: line-through;
}

.cardDescription {
  color: #666;
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: right;
  max-width: 100%;
}

.featuresList {
  list-style: none;
  padding: 16px 0 0 0;     
  text-align: right;
  width: 100%;
  border-top: 1px solid #d6d4d4;
}

.featureItem {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 3px;
  margin-bottom: 4px;
  color: #242222;
  font-size: 14px;
  direction: rtl;
}


.checkIconContainer {
  width: 28px;
  height: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.checkIcon {
  width: 19px;
  height: 19px;
  object-fit: contain;
}

.additionalFeaturesText {
  color: #a38c73;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 24px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
}

.buttonWrapper {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper .confirmBtn {
  background-color: white;
  color: #a38c73;
  border: 1px solid #b0917a;
  padding: 8px 76px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.buttonWrapper .confirmBtn.active {
  background-color: transparent;
  color: #6b5a45;
  border: none;
}
