.serviceSelectionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 24px;
  cursor: pointer;
  height: 100%;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.serviceSelectionCard.selected {
  border-color: #b0917a;
  box-shadow: 0 0 0 2px #b0917a;
}

.cardTitle {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.priceContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.mainPrice {
  color: #222;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
}

.currencyAndPeriod {
  color: #555;
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  white-space: nowrap;
}

.cardDescription {
  color: #666;
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: center;
  max-width: 200px;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: right;
  width: 100%;
  align-items: center;
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 12px;
  color: #444;
  font-size: 14px;
  direction: rtl;
}

.checkIconContainer {
  width: 22px;
  height: 22px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.checkIcon {
  width: 14px;
  height: 19px;
  object-fit: contain;
}

.additionalFeaturesText {
  color: #a38c73;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 24px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.buttonWrapper {
  width: ;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper .confirmBtn {
  background-color: white !important;
  color: #a38c73;
  border: 1px solid #b0917a;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.buttonWrapper .confirmBtn.active {
  background-color: transparent;
  color: #6b5a45;
  border: none;
} 